{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% load static %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush text-center">
      <li class="list-group-item ">
        ничего
      </li>
      <li class="list-group-item">
        У меня лапки
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9 text-center">
    <p>
      <img src="{% static 'img/img/sadcat.jpg'%}" alt="Flowers in Chania">
    </p>
    <p>p.s. покидайте мемов в комменты </p>
  </article>
</div>
{% endblock %}