{% extends 'base.html' %}
{% load cache %}
{% cache 20 sidebar %}
{% block title %}
    Ваша лента
{% endblock title %}

{% block content %}
{% include 'posts/includes/switcher.html' %}
{% if not page_obj.has_previous %}
  <h1>
    Посты авторов, на которых вы подписаны
  </h1>
{% else %}
  <h1>
    Страница номер {{ page_obj.number }}
  </h1>
{% endif %}
<hr>
{% for post in page_obj %}
  {% include 'posts/includes/post_generator.html' %}
  {% if post.group %}
    <a href="{% url 'posts:group_posts' post.group.slug %}">Группа {{ post.group.title }}</a>
  {% endif %}
  {% if not forloop.last %}<hr>{% endif %}
{% endfor %}
{% include 'posts/includes/paginator.html' %}
{% endblock %}
{% endcache %}